.quar-CardsSection {
    padding: 80px 0;
    background: #f2f6f7;
}
.quar-Cards-title-area {
    text-align: center;
    padding: 30px 0;
}
.quar-CardsMain {
    display: flex;
    column-gap: 30px;
}
.quar-CardsMain__item {
    text-align: center;
    padding: 40px 30px 35px;
    box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
    background: #fff;
    border: 1px solid #f6f6f6;
    position: relative;
}

.quar-CardsMain__item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 0;
    background: var(--primary-color);
    transition: 0.5s all;
}
.quar-CardsMain__item:hover::after {
    width: 100%;
}
.quar-cards-feature-icon {
    margin-bottom: 20px;
}
.quar-cards-info h3 {
    color: var(--heading-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    margin-bottom: 15px;
    font-family: 'Poppins';
}
.quar-cards-info h3 a {
    color: var(--heading-color);
}
.quar-cards-info h3 {
    color: var(--heading-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    margin-bottom: 15px;
    font-family: 'Poppins';
}
.quar-cards-info p {
    color: var(--paragraph-color);
    line-height: 25px;
    margin-bottom: 25px;
    font-size: 14px;
}
.quar-cards-info a[title='service-btn'] {
    color: #8cb2b2;
    display: flex;
    justify-content: center;
    column-gap: 5px;
    align-items: center;
}
.quar-cards-info a[title='service-btn'] {
    color: #8cb2b2;
    display: flex;
    justify-content: center;
    column-gap: 5px;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    transition: 0.3s all;
}
.quar-CardsMain__item:hover .quar-cards-info a[title='service-btn'] {
    color: var(--primary-color);
}
.quar-cards-service-icon {
    display: flex;
    align-items: center;
}


@media screen and (max-width: 992px) {
    .quar-CardsMain {
        column-gap: 10px;
    }
}

@media screen and (max-width: 768px) {
    .quar-CardsMain__item {
        width: calc(100% / 2 - 20px);
        margin-bottom: 30px;
    }
    .quar-CardsMain {
        column-gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .quar-CardsSection {
        padding: 40px 0;
    }
}


@media screen and (max-width: 500px) {
    .quar-CardsMain__item {
        width: 100%;
    }
}